body{
	font-family: verdana;
}

.logo {
	margin-bottom: 10px;
}

.name {
	flex-grow: 1;
}

h1 {
	color: MediumAquamarine;
	font-size: 14px;
	width: 100%;
	padding-left: 3px;
	padding-top: 17px;
	margin-top: 8px;
	margin-left: 6px;
	display: flexbox;
}

.container {
	display: flex;
	border-bottom: solid 1px black;
	padding-bottom: 10px;
	position: fixed;
	width: 100%;

}

nav li {
	font-size: 14px;
	font-weight: bold;
	/*float: right;*/
	list-style: none; 
	padding: 1 1 1 1; 
	margin-top: 8px;
	margin-right: 20px;
	margin-left: 5px;
	display: inline-flex;
}

.nav {
	width: 100%;
	justify-content: flex-end;
	flex-grow: 3;
	/*margin-left: 1000px;*/
}

a:link {
	color: black;
}