body {
	font-family: verdana;
	font-size: 14px;
}

/* Navigation */

header {
	color: MediumAquamarine;
	font-size: 14px;
	padding: 30px 30px 18px 8px;
	margin-right: 0px;
    width: 150px;
}

.nav-con {
	display: flex;
	border-bottom: 1px solid black;
	padding-bottom: 8px;
} 

.top {
	display: block;
	border: 1px solid red;
}

.nav {
	display: flex;
	width: 75%;  
	padding-left: 0;
	justify-content: flex-end;
}

img {
	padding-left: 20px;
	margin-top: 5px;
}

nav ul {
	display: flex;
	list-style: none;
	padding-top: 15px;
}


nav a {
	display: flex;
	color: black;
	padding-right: 30px;
}


/* Below is the article layout */

/*Mainflexbox*/
.wrapper {
	display: flex;
	justify-content: space-around;
}

/* ColumnOne */
.flex-container {
	display: flex;
	border: 1px solid red;
	width: 630px;
	flex-wrap: wrap;
}

.headline {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.picbox {
	width: 630px;
	height: 40vh;
	background-image: url("../images/img-story-main.png");
	background-repeat: no-repeat; 
	border: 2px solid blue;
}

.picbox h1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;  
}

.spin h1 {
	background-image: url("../images/img-story-2.png");
	height: 45vh;
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
	color: white;
}

.picbox-2 {
	background-image: url("../images/img-story-3.png");
	height: 45vh;
	font-family: Georgia;
	font-weight: bold;
	color: white;
	font-size: 30px;
}

h1 {
	font-family: Georgia;
	font-size: 17px;
	color: black;
}

/* Column Two */
.flex-container-2 {
	display: flex;
	border: 1px solid blue;
	width: 300px;
	flex-wrap: wrap;
}


/* Column Three */
.flex-container-3 {
	display: flex;
	border: 1px solid orange;
	width: 240px;
	flex-wrap: wrap;
}

.headline p {
	border: 1px solid black;
}

.second-box {
	border: 1px solid orange;
}

.third-box {
	border: 1px solid MediumAquamarine;
}

.fourth-box {
	border: 1px solid pink;
}

.fifth-box {
	border: 1px solid blue;
}

.bite {
	border: 1px solid yellow;
}

.headline h1 {
	width: 630px;
	border: 1px solid black;
}

img {
	border: 1px solid black;
}





















/* Below is the original css */


/*
body{
	font-family: verdana;
}

.logo {
	margin-bottom: 10px;
}


h1 {
	color: MediumAquamarine;
	font-size: 14px;
	width: 100%;
	padding-left: 3px;
	padding-top: 17px;
	margin-top: 8px;
	margin-left: 6px;
	display: flexbox;
}

.container {
	display: flex;
	border-bottom: solid 1px black;
	padding-bottom: 10px;
	position: fixed;
	width: 100%;
	align-items: baseline; 

}

nav li {
	font-size: 14px;
	font-weight: bold;
	list-style: none; 
	padding: 1 1 1 1; 
	margin-top: 8px;
	margin-right: 20px;
	margin-left: 5px;
}

.nav {
	width: 100%;
	display: flex;
	flex-grow: 3;
	align-items: flex-end;
	display: inline-flex;
	/*margin-left: 1000px;*/
/*
}

a:link {
	color: black;
} */