body {
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
}

h1 {
	color: AquaMarine;
	font-size: 14px;
	padding: 25px 3px;
	margin: 5px 8px;
    border: 1px;
}

.container {
	display: flex;
} 

.nav {
	width: 80%;
}

nav ul {
	display:flex;
	list-style: none;
	padding-left: 0;
	padding-top: 7px;
	justify-content: flex-end
}

nav a {
	color: black;
	display: block;
	padding: 10px;
}



























/* Below is the original css */


/*
body{
	font-family: verdana;
}

.logo {
	margin-bottom: 10px;
}


h1 {
	color: MediumAquamarine;
	font-size: 14px;
	width: 100%;
	padding-left: 3px;
	padding-top: 17px;
	margin-top: 8px;
	margin-left: 6px;
	display: flexbox;
}

.container {
	display: flex;
	border-bottom: solid 1px black;
	padding-bottom: 10px;
	position: fixed;
	width: 100%;
	align-items: baseline; 

}

nav li {
	font-size: 14px;
	font-weight: bold;
	list-style: none; 
	padding: 1 1 1 1; 
	margin-top: 8px;
	margin-right: 20px;
	margin-left: 5px;
}

.nav {
	width: 100%;
	display: flex;
	flex-grow: 3;
	align-items: flex-end;
	display: inline-flex;
	/*margin-left: 1000px;*/
/*
}

a:link {
	color: black;
} */